.link{
    font-size: 20px;
    font-weight: 700;
    text-decoration: none;
    // color: black;
    margin: 0 10px;
}

.active{
    color: green;
    border-bottom: 2px solid green;
}

.navbar-container {
    background-color: beige;
    >p{
         color: red;
         b{
            color: blue;
            &:hover{
                color: white;
            }
         }
    }
}