header.navbar-container {
    background-color: var(--lightYellow);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 45px;
    height: 56px;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 99;

    .logo {
        height: 35px;
        width: auto;
    }

    .navLink_container {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
        font-size: 18px;

        a {
            text-decoration: none;
            color: black;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 2px;
            padding: 0 5px;

            &.active {
                color: var(--green);
                font-weight: 700;
                border-bottom: 3px solid var(--green);
            }
        }

        .loginBtn {
            padding: 8px 18px;
            font-size: 18px;
            background:var(--linear_color);
            color: var(--white);
            font-weight: 700;
            border-radius: 30px;
        }
    }
}