@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Nunito Sans", sans-serif;
}

.main {
    width: 100vw;
    height: 100vh;
    padding: 10px;
}
:root {
    --linear_color: linear-gradient(to top left, #FCDC2A, #0FA958);
    --background: white;
    --red: rgb(244, 50, 11);
    --black: black;
    --green: #0fa958;
    --white: whitesmoke;
    --lightYellow: #f7fde6;
    --ligth-gray-border:rgba(219, 218, 218, 0.92);

    --orange:orange;
    --white:#FFFFFF; 
    --black:#000000;
    --lightGray:#D1D5DB;
    --lightGray2:#F3F4F6;
    --darkRed:#7C2D12;
    --lightRed:#DC2626;
    --lightPink:#FFF5F5;
    --lightOrenge:#FFEDD5;
    --lightOrenge2:rgba(237, 179, 71, 0.212);
    --darkGray:#D1D5DB;
    --darkGray2:rgba(128, 128, 128, 0.959);
    --linearColor:linear-gradient(70deg,#D4FC79,#96E6A1) ;
    --darkGreen:#166534;
    --lightGreen:#16A34A;
    --lightGreen2:#60f96049;
    --violate:#634C9F;
    --darkBackgroung:#1E1E1E;
}
